.carousel {
    .slider {
        position: relative;
        &:hover {
            .slick-arrow {
                opacity: 1;
            }
        }
        @media (min-width: 768px) {
            &::before,
            &::after {
                content: "";
                position: absolute;
                z-index: 5;
                display: flex;
                width: 200px;
                height: 100%;
                top: 0;
                font-size: 0;
                background: linear-gradient(
                    var(--slider-arrow-gradient-deg, 90deg),
                    var(--bg-color-body) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
                pointer-events: none;
            }
        }

        &::before {
            left: -12px;
        }

        &::after {
            --slider-arrow-gradient-deg: -90deg;
            right: -12px;
        }

        .slick-list {
            margin: 0 -10px;
        }
    }

    .slick-arrow {
        position: absolute;
        z-index: 6;
        top: 66px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        pointer-events: all;
        border-radius: 100%;
        width: 36px;
        height: 36px;
        color: #fff;
        font-size: 0;
        opacity: 0;
        transition: opacity 0.3s, background-color 0.3s;

        &:hover {
            @apply bg-gray-800;
        }

        &::before {
            content: "";
            display: flex;
            width: 16px;
            height: 16px;
        }

        &.slick-prev {
            left: 0;

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 15L4 8L11 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
            }
        }

        &.slick-next {
            right: 0;

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 1L12 8L5 15' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
            }
        }
    }

    .block-integration {
        &__block {
            min-height: 132px;
            background: #0c111b;
            @apply cursor-pointer relative;
            .lazy-load-image-background,
            img {
                min-width: max-content;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.4s opacity;
            }
        }
        &__title {
            margin-top: 23px;
        }
    }
    // Hover
    .slider {
        .slick-slide {
            .block-integration {
                &__block {
                    .static {
                        opacity: 1;
                    }
                    .hover {
                        opacity: 0;
                    }
                    &:hover {
                        .static {
                            opacity: 0;
                        }
                        .hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__footer {
        p {
            @apply text-xs leading-5 font-semibold uppercase text-gray-500;
        }
    }
}
