.tab {
    &-heading {
        .active {
            cursor: default;
        }
        .item {
            @apply border rounded-xlg p-6;
            background: #0c111b;
            .state {
                .video-text {
                    @apply text-blue-600 text-xxs font-medium leading-3 mt-2.5;
                    background: rgba(37, 99, 235, 0.2);
                    border-radius: 50px;
                    padding: 2px 4px;
                }
            }
            &__text {
                .title {
                    @apply text-base leading-6 font-bold;
                }
                .subtitle {
                    @apply text-sm leading-5 font-normal text-gray-300;
                }
                .progressbar {
                    bottom: 10px;
                    width: 100%;
                    height: 4px;
                    @apply bg-gray-900 rounded-xlg;
                    .progressbar-done {
                        width: 0px;
                        height: 4px;
                        @apply bg-blue-600;
                    }
                }
            }
        }
    }
    &-content {
        max-width: 1062px;
        .data {
            .react-player {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                border-radius: 22px;
                box-shadow: #00000036 0px 100px 116px, #00000029 0px 50px 58px, #00000024 0px 30px 35px,
                    #0000001f 0px 19px 22px, #0000001a 0px 12px 14px, #00000017 0px 8px 9px, #00000012 0px 5px 5px,
                    #0000000d 0px 2px 2px;
                padding-bottom: 60.265%;
            }
            video {
                @apply absolute inset-0 w-full h-full object-cover bg-white;
            }
        }
    }
}

.tab {
    &-heading {
        .state {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__icon.playing {
                &:before {
                    opacity: 1;
                    background: conic-gradient(#2563eb, #1f2937);
                    -webkit-animation: rotate360xy 4s linear infinite;
                    animation: rotate360xy 4s linear infinite;
                }
            }
            &__icon {
                position: relative;
                overflow: hidden;
                display: flex;
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background-color: rgb(31, 41, 55);
                box-shadow: inset 0 0 0 1px rgb(75, 85, 99);
                color: rgb(37, 99, 235);
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 0;
                    display: block;
                    width: 150%;
                    height: 150%;
                    will-change: transform;
                    opacity: 0;
                    -webkit-transition: opacity 0.3s;
                    transition: opacity 0.3s;
                }
                &__overlay {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;
                    border-radius: 8px;
                    margin: 2px;
                    margin-left: 3px;
                    background: rgb(31, 41, 55);
                    .icon {
                        img {
                            width: 100%;
                            height: 100%;
                            padding: 8px;
                            -ms-flex-negative: 0;
                            flex-shrink: 0;
                            opacity: 1;
                            transition: opacity 0.3s;
                        }
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
    @-webkit-keyframes rotate360xy {
        from {
            -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
        }
    }
}

.center-mode {
    display: flex;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    .item {
        width: calc(25% - 20px);
        margin: 0 10px;
    }
}